section.portfolio
    .portfolio__block.container
        ul.portfolio__list.portfolio__block--margin
            -
                let portfolioList = [
                    'All',
                    'Logo',
                    'Mobile App',
                    'WordPress',
                    'Web Design',
                    'UI/IX',
                    'Branding'
                ]
            each portfolioItem in portfolioList
                li.portfolio__item=portfolioItem
        .portfolio__content
            -
                let portfolioWrapListFirst = [
                    {
                        srcFirst: './img/portfolio-img9.jpg',
                        altFirst: 'two bottles',
                        srcSecond: './img/portfolio-img6.jpg',
                        altSecond: 'curved lamp',
                        srcThird: './img/portfolio-img5.jpg',
                        altThird: 'fork and spoon'
                    },
                     {
                        class: 'portfolio__wrap--last',
                        classFirst: 'portfolio__image--first',
                        classSecond: 'portfolio__image--third',
                        srcFirst: './img/portfolio-img7.jpg',
                        srcSecond: './img/portfolio-img4.jpg',
                        srcThird: './img/portfolio-img2.jpg',
                        altFirst: '3 chairs on top of each other',
                        altSecond: 'business card',
                        altThird: '2 boxes from cosmetics'
                    }
                ]
            each portfolioWrapItem in portfolioWrapListFirst
                .portfolio__wrap(class=portfolioWrapItem.class)
                    .portfolio__image(class=portfolioWrapItem.classFirst)
                        img(src=portfolioWrapItem.srcFirst alt=portfolioWrapItem.altFirst)
                    .portfolio__image
                        img(src=portfolioWrapItem.srcSecond alt=portfolioWrapItem.altSecond)
                    .portfolio__image(class=portfolioWrapItem.classSecond)
                        img(src=portfolioWrapItem.srcThird alt=portfolioWrapItem.altThird)
            -
                let portfolioWrapListSecond = [
                    {
                        class: 'portfolio__wrap--order',
                        srcFirst: './img/portfolio-img8.jpg',
                        srcSecond: './img/portfolio-img1.jpg',
                        srcThird: './img/portfolio-img3.jpg',
                        srcFourth: './img/portfolio-img1.jpg',
                        altFirst: 'table with chairs',
                        altSecond: 'wall clock',
                        altThird: 'chair in front and in profile',
                        altFourth: 'wall clock'
                    }
                ]
            each portfolioWrapItem in portfolioWrapListSecond
                .portfolio__wrap(class=portfolioWrapItem.class)
                    .portfolio__image(class=portfolioWrapItem.classFirst)
                        img(src=portfolioWrapItem.srcFirst alt=portfolioWrapItem.altFirst)
                    .portfolio__image
                        img(src=portfolioWrapItem.srcSecond alt=portfolioWrapItem.altSecond)
                    .portfolio__image(class=portfolioWrapItem.classSecond)
                        img(src=portfolioWrapItem.srcThird alt=portfolioWrapItem.altThird)
                    .portfolio__image(class=portfolioWrapItem.classSecond)
                        img(src=portfolioWrapItem.srcFourth alt=portfolioWrapItem.altFourth)