section.project
    .project__container.container
        .project__content
            .project__heading
                h2.project__title Pereira Creative Agency
                p.project__subtitle Branding Design
            p.project__subheading Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.
            .project__management
                p.project__management-title Role on project:
                ul.project__list
                    -
                        let positionList =[
                            'Project Designer,',
                            'Lead Designer,',
                            'Marketing Head'
                        ]
                    each position in positionList
                        li.project__item
                            p=position

                p.project__management-title Tags:
                ul.project__list
                    -
                        let specializationList = [
                            'Mobile App,',
                            'UI/UX design'
                        ]
                    each specialization in specializationList
                        li.project__item
                            p=specialization
            .project__wrap
                button.project__share Share
                ul.project__social
                    -
                        let projectSocial = [
                        {
                            link: 'https://www.facebook.com',
                            icon: '<svg class="facebook" width="12" height="19" viewbox="0 0 12 19" xmlns="http://www.w3.org/2000/svg"><path d="M10.9992 0.00395327L8.40571 0C5.49197 0 3.60899 1.8353 3.60899 4.67593V6.83184H1.00131C0.775979 6.83184 0.593506 7.00539 0.593506 7.21946V10.3431C0.593506 10.5572 0.776187 10.7306 1.00131 10.7306H3.60899V18.6126C3.60899 18.8267 3.79146 19 4.01679 19H7.41907C7.6444 19 7.82688 18.8265 7.82688 18.6126V10.7306H10.8759C11.1012 10.7306 11.2837 10.5572 11.2837 10.3431L11.2849 7.21946C11.2849 7.11667 11.2418 7.01824 11.1655 6.9455C11.0891 6.87276 10.9851 6.83184 10.8769 6.83184H7.82688V5.00424C7.82688 4.12583 8.04722 3.6799 9.2517 3.6799L10.9988 3.67931C11.2239 3.67931 11.4064 3.50576 11.4064 3.29189V0.391374C11.4064 0.177699 11.2242 0.0043486 10.9992 0.00395327Z"></path></svg>',
                        },
                        {
                            link: 'https://www.instagram.com/',
                            icon: '<svg class="instagram" width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.8816 6.93293H14.4569V13.7079C14.4569 14.1215 14.1215 14.4569 13.7079 14.4569H2.29196C1.87835 14.4569 1.54298 14.1215 1.54298 13.7079V6.93293H3.11826C3.04343 7.27688 3.00285 7.63357 3.00285 7.99988C3.00285 10.7597 5.24006 12.9969 7.99988 12.9969C10.7597 12.9969 12.9969 10.7597 12.9969 7.99988C12.9969 7.63357 12.9564 7.27678 12.8816 6.93293ZM16 2.01777C16 0.903413 15.0966 0 13.9822 0H2.01777C0.903413 0 0 0.903413 0 2.01777V13.9822C0 15.0966 0.903413 16 2.01777 16H13.9822C15.0966 16 16 15.0966 16 13.9822V2.01777ZM4.41167 7.99973C4.41167 6.01799 6.01819 4.41147 7.99993 4.41147C9.98167 4.41147 11.5882 6.01799 11.5882 7.99973C11.5882 9.98147 9.98167 11.588 7.99993 11.588C6.01819 11.588 4.41167 9.98147 4.41167 7.99973ZM12.5883 1.72042C12.036 1.72042 11.5883 2.16813 11.5883 2.72042V3.41161C11.5883 3.9639 12.036 4.41161 12.5883 4.41161H13.2795C13.8318 4.41161 14.2795 3.9639 14.2795 3.41161V2.72042C14.2795 2.16813 13.8318 1.72042 13.2795 1.72042H12.5883Z"></path></svg>',
                        },
                        {
                            link: 'https://www.twitter.com/',
                            icon: '<svg class="twitter" width="16" height="14" viewbox="0 0 16 14" xmlns="http://www.w3.org/2000/svg"><path d="M16 2.039C15.405 2.3 14.771 2.473 14.11 2.557C14.79 2.151 15.309 1.513 15.553 0.744C14.919 1.122 14.219 1.389 13.473 1.538C12.871 0.897 12.013 0.5 11.077 0.5C9.261 0.5 7.799 1.974 7.799 3.781C7.799 4.041 7.821 4.291 7.875 4.529C5.148 4.396 2.735 3.089 1.114 1.098C0.831 1.589 0.665 2.151 0.665 2.756C0.665 3.892 1.25 4.899 2.122 5.482C1.595 5.472 1.078 5.319 0.64 5.078C0.64 5.088 0.64 5.101 0.64 5.114C0.64 6.708 1.777 8.032 3.268 8.337C3.001 8.41 2.71 8.445 2.408 8.445C2.198 8.445 1.986 8.433 1.787 8.389C2.212 9.688 3.418 10.643 4.852 10.674C3.736 11.547 2.319 12.073 0.785 12.073C0.516 12.073 0.258 12.061 0 12.028C1.453 12.965 3.175 13.5 5.032 13.5C11.068 13.5 14.368 8.5 14.368 4.166C14.368 4.021 14.363 3.881 14.356 3.742C15.007 3.28 15.554 2.703 16 2.039Z"></path></svg>',
                        },
                        {
                            link: 'https://web.telegram.org/',
                            icon: '<svg class="telegram" width="16" height="14" viewbox="0 0 16 14" xmlns="http://www.w3.org/2000/svg"><path d="M0.282607 6.71437L3.96933 8.09037L5.39631 12.6795C5.48762 12.9735 5.84703 13.0821 6.0856 12.8871L8.14063 11.2118C8.35605 11.0362 8.66287 11.0275 8.88799 11.1909L12.5946 13.8819C12.8498 14.0674 13.2113 13.9276 13.2753 13.6192L15.9906 0.558373C16.0604 0.221519 15.7294 -0.059494 15.4087 0.0645593L0.278287 5.90141C-0.0950995 6.04541 -0.0918462 6.57405 0.282607 6.71437ZM5.16634 7.35789L12.3716 2.92019C12.5011 2.84067 12.6343 3.01576 12.5231 3.11891L6.57669 8.64637C6.36768 8.84093 6.23285 9.10131 6.19466 9.38392L5.9921 10.885C5.96527 11.0855 5.68373 11.1054 5.62842 10.9114L4.84938 8.17405C4.76015 7.86184 4.89018 7.52834 5.16634 7.35789Z"></path></svg>',
                        },
                        {
                            link: 'https://www.vk.com/',
                            icon: '<svg class="vk" width="19" height="11" viewbox="0 0 19 11" xmlns="http://www.w3.org/2000/svg"><path d="M18.8993 9.86962C18.8763 9.82004 18.8548 9.77891 18.8349 9.74596C18.5053 9.15225 17.8753 8.42352 16.9454 7.55955L16.9258 7.53976L16.9159 7.53006L16.906 7.52012H16.896C16.474 7.11781 16.2067 6.8473 16.0948 6.70881C15.8901 6.44499 15.8442 6.17796 15.9561 5.90738C16.0352 5.70295 16.3322 5.27123 16.8464 4.61162C17.1169 4.26204 17.3312 3.98187 17.4894 3.77079C18.6304 2.25386 19.1251 1.28453 18.9733 0.862399L18.9144 0.763754C18.8748 0.704366 18.7726 0.650036 18.6079 0.600488C18.4428 0.551044 18.2318 0.542867 17.9746 0.575818L15.1256 0.595499C15.0794 0.579145 15.0135 0.580669 14.9277 0.600488C14.8419 0.620307 14.799 0.630252 14.799 0.630252L14.7494 0.655026L14.7101 0.684789C14.6771 0.70447 14.6408 0.739084 14.6012 0.788563C14.5618 0.837868 14.5289 0.895731 14.5025 0.961668C14.1924 1.75967 13.8397 2.5016 13.4439 3.18744C13.1999 3.59641 12.9758 3.95083 12.7711 4.25092C12.5667 4.55091 12.3952 4.77194 12.2568 4.91362C12.1182 5.05544 11.9932 5.16905 11.8808 5.25487C11.7687 5.34073 11.6831 5.37701 11.6238 5.36374C11.5643 5.35047 11.5084 5.3373 11.4554 5.32414C11.3631 5.26475 11.2889 5.18398 11.233 5.08177C11.1768 4.97955 11.1389 4.8509 11.1191 4.69592C11.0995 4.54083 11.0878 4.40743 11.0845 4.29527C11.0814 4.18325 11.0828 4.0248 11.0895 3.82038C11.0964 3.61584 11.0995 3.47746 11.0995 3.4049C11.0995 3.15425 11.1044 2.88222 11.1142 2.58875C11.1241 2.29527 11.1322 2.06274 11.139 1.89144C11.1457 1.71996 11.1488 1.53854 11.1488 1.34728C11.1488 1.15601 11.1372 1.00602 11.1142 0.897152C11.0914 0.788424 11.0565 0.682883 11.0106 0.580565C10.9643 0.478351 10.8966 0.399282 10.8078 0.343151C10.7187 0.287089 10.6081 0.2426 10.4764 0.209545C10.1268 0.130441 9.68167 0.08765 9.14076 0.0809974C7.91416 0.0678308 7.126 0.147038 6.77646 0.318515C6.63797 0.390966 6.51264 0.489958 6.40059 0.615179C6.28185 0.760323 6.26528 0.839531 6.35101 0.852559C6.74677 0.911843 7.02694 1.05366 7.19183 1.27787L7.25125 1.39669C7.29747 1.48241 7.34363 1.63417 7.38981 1.85176C7.43593 2.06936 7.4657 2.31006 7.47879 2.57374C7.51171 3.05526 7.51171 3.46744 7.47879 3.81033C7.44577 4.15335 7.41459 4.42039 7.38482 4.61165C7.35506 4.80291 7.31057 4.9579 7.25125 5.07657C7.19183 5.19528 7.1523 5.26783 7.13248 5.29417C7.11269 5.3205 7.0962 5.3371 7.0831 5.34361C6.99738 5.37646 6.90823 5.39319 6.81596 5.39319C6.72355 5.39319 6.6115 5.34697 6.47962 5.2546C6.34778 5.16222 6.21095 5.03534 6.06914 4.87374C5.92732 4.7121 5.76738 4.48622 5.58925 4.19607C5.41126 3.90592 5.22658 3.563 5.03532 3.16731L4.87708 2.88035C4.77815 2.69574 4.64302 2.42694 4.47154 2.07417C4.29996 1.72128 4.14831 1.37991 4.01647 1.05016C3.96377 0.91167 3.88459 0.806234 3.77909 0.733679L3.72957 0.703915C3.69666 0.677582 3.64382 0.64962 3.57133 0.619822C3.49874 0.590059 3.423 0.568715 3.34379 0.555583L0.633243 0.575264C0.35626 0.575264 0.168324 0.638013 0.0693671 0.763338L0.0297634 0.822622C0.00997889 0.855642 0 0.908378 0 0.980968C0 1.05352 0.0197845 1.14257 0.0593882 1.24801C0.455079 2.17798 0.885383 3.07487 1.3503 3.93881C1.81522 4.80274 2.21923 5.49866 2.56208 6.02595C2.905 6.55362 3.25454 7.05163 3.61069 7.51973C3.96685 7.98801 4.2026 8.28811 4.31795 8.41995C4.43343 8.55203 4.52414 8.65078 4.59008 8.71671L4.83744 8.95409C4.99571 9.1124 5.22814 9.302 5.53482 9.52289C5.84156 9.74392 6.18116 9.96151 6.55377 10.176C6.92645 10.3902 7.36002 10.565 7.8547 10.7001C8.34931 10.8354 8.83072 10.8897 9.299 10.8635H10.4367C10.6674 10.8436 10.8422 10.771 10.961 10.6458L11.0004 10.5962C11.0268 10.5569 11.0516 10.4957 11.0745 10.4134C11.0976 10.331 11.1091 10.2402 11.1091 10.1414C11.1024 9.85788 11.124 9.60234 11.1733 9.37484C11.2226 9.1474 11.2788 8.97592 11.3417 8.86044C11.4045 8.74506 11.4754 8.64769 11.5543 8.56876C11.6333 8.48966 11.6897 8.44174 11.7227 8.42525C11.7556 8.40865 11.7818 8.39739 11.8016 8.39063C11.9599 8.3379 12.1461 8.38897 12.3607 8.54409C12.5751 8.69908 12.7761 8.89044 12.9642 9.11788C13.1522 9.34552 13.378 9.60092 13.6418 9.88445C13.9057 10.1681 14.1364 10.3789 14.3342 10.5176L14.532 10.6363C14.6641 10.7155 14.8356 10.7881 15.0466 10.854C15.2573 10.9199 15.4419 10.9364 15.6005 10.9035L18.1328 10.864C18.3833 10.864 18.5782 10.8225 18.7165 10.7402C18.855 10.6578 18.9373 10.567 18.9638 10.4682C18.9903 10.3693 18.9917 10.2571 18.9689 10.1317C18.9454 10.0066 18.9223 9.91907 18.8993 9.86962Z"></path></svg>',
                        }
                        ]
                    each item in projectSocial
                        li.project__social-item
                            a.project__social-link(href=item.link) !{item.icon}

        .project__slider
            .project__slider-for
                -
                    let sliderForList = [
                        {
                            src: './img/portfolio/bench.jpg',
                            alt: 'minimalistic black bench'
                        },
                        {
                            src: './img/portfolio/chair.jpg',
                            alt: 'minimalistic white chair'
                        },
                        {
                            src: './img/portfolio/table.jpg',
                            alt: 'table'
                        },
                        {
                            src: './img/portfolio/table-mini.jpg',
                            alt: 'high tech coffee table'
                        }
                    ]
                each sliderForItem in sliderForList
                    img(src=sliderForItem.src alt=sliderForItem.alt)
            .project__slider-nav
                -
                    let sliderNavList = [
                        {
                            src: './img/portfolio/bench.jpg',
                            alt: 'minimalistic black bench'
                        },
                        {
                            src: './img/portfolio/chair.jpg',
                            alt: 'minimalistic white chair'
                        },
                        {
                            src: './img/portfolio/table.jpg',
                            alt: 'table'
                        },
                        {
                            src: './img/portfolio/table-mini.jpg',
                            alt: 'high tech coffee table'
                        }
                    ]
                each sliderNavItem in sliderNavList
                    img(src = sliderNavItem.src alt = sliderNavItem.alt)